@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

// Colors
$bleu: #038aff;
$bleumarine: #161348;
$yellow: #ffb93c;
$green: #58cca7;
$bg-body: #ffffff;
$bg-section: #fafbff;

// Fonts
$font-family-base: "Roboto", sans-serif;
$font-size-small: 0.75rem;
$font-size-medium: 1rem;
$font-size-big: 1.25rem;
$font-size-bigger: 1.5rem;

// Spaces / grid
$spacer: 1.5rem;

// Border / Radius
$border-radius: 0.25rem;
$border-radius-lg: 1rem;
